apiVersion: apps/v1
kind: Service
metadata:
  name: frontend-service
  namespace: e-commerce-platform
spec:
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 5173
  type: LoadBalancer