apiVersion: v1
kind: PersistentVolume
metadata:
  name: e-commerce-pv
  namespace: e-commerce-platform
spec:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 5Gi
  hostPath:
    path: /data
   