apiVersion: v1
kind: PersistentVolumeClaim     
metadata:
  name: e-commerce-pvc
  namespace: e-commerce-platform
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi  